.content {
    margin-bottom: 38px;
      img {
        width: 50%;
        height: auto;
        float: right;
        margin-left: 10px;
      }
}

.content::after {
    content: '';
    display: block;
    width: 25vw;
    border-bottom: 1px solid var(--color);
    top: 42px;
    left: 50%;
    position: relative;
}

@media screen and (max-width:700px) {
    .content {
          img {
            width: 100%;
          }
    }
}