.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        position: relative;
        display: flex;
        align-items: center;
        width: 40vw;
        justify-content: space-between;
    }
    margin-bottom: 170px;
}

.switchers {
  position: relative;
}

.themeSwithcer, .localeSwitcher {
  border: none;
  background: none;
  position: relative;
}

.localeSwitcher {
  bottom: 4px;
}

.themeSwithcer {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    }

.localeSwitcher + span {
    opacity: 0;
    font-size: 12px;
    font-weight: light;
    width: 120px;
    background-color: var(--shadow-color);
    color: var(--color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    right: -33%;
    top: 115%;
    z-index: 1;
    transition: all 0.2s ease;
  }

  .localeSwitcher + span::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--shadow-color) transparent;
}

  .localeSwitcher:hover {
    & + span {
      opacity: 1;
    }
    cursor: pointer;
  }

  @media screen and (max-width:1300px) {
    .header {
      nav {
        flex-direction: column;
        align-items:flex-start;
      }
  }
  }

  @media screen and (max-width:900px) {
    .header {
      margin-bottom: 50px;
  }
  }