.pdf {
    position: relative;
    width: 96px;
    height: 96px;
}
.hh {
    position: relative;
    width: 96px;
    height: 96px;
    padding: 15px;
    border-radius: 50%;
    background: #d6001c;
    transition: all 0.5s ease;
    &:hover {
        background:#f0485e;
    }
    span {
        font-size: 48px;
        font-family: Arial;
        color: #fefefe;
        position: absolute;
        top: 35%;
        left: 20%;
    }
}