.pdf, .hh { 
    position: relative;
    width: 96px;
    height: 96px;
    text-align: center;
    margin: 20px;
    transition: all 0.5s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.hh {
    padding: 15px;
    border-radius: 50%;
    background: #d6001c;
    &:hover {
        background:#f0485e;
    }
    span {
        font-size: 48px;
        font-family: Arial;
        color: #fefefe;
        position: absolute;
        top: 35%;
        left: 20%;
    }
}